.header-button1 {
  width: 60px;
  height: 30px;
  background-color: rgba($color: #000000, $alpha: 0.25);
  border-radius: 100rem;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  background-color: white;
  transition: all 0.2s linear;
}

.header-button1.active {
  background-color: #f3a952;
}

.spinner.active {
  transform: translateX(30px);
}
